@font-face {
    font-family: 'SDKukdetopokki-Lt';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SDKukdetopokki-aLt00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ELAND_Nice_M";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff")
    format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ELAND_Choice_M";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff")
    format("woff");
    font-weight: normal;
    font-style: normal;
}


*{margin: 0; padding: 0; box-sizing: border-box;}
html{font-size: 16px;}
body{font-family: 'Noto Sans KR', serif; color: var(--font-color); } 

a{text-decoration: none; color: var(--font-color);}
li{list-style: none;}
img{border:0;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}

:root{
    --main-width:88%; 
    --font-color:#242424;
    --font-cSub1:#E50E49;
    --font-cSub2:#043747;
    --font-large1 : 5.313rem;/*85*/
    --font-large2 : 4.375rem;/*70*/
    --font-title:  1.875rem;/*30*/
    --font-medium: 1.5rem;/*24*/
    --font-medium2: 1.25rem;/*20*/
    --font-sub: 1.125rem; /*18*/
    --font-sub2: 1.0rem;/*16*/
    --font-mini: 0.875rem;/*14*/
}

h2{color: var(--font-cSub1);}
h3{color: var(--font-cSub2); font-weight: bold; font-size: var(--font-title);}
h5{color: var(--font-cSub1); font-weight: 600; font-size: var(--font-medium2);}
p{color: var(--font-cSub1); font-size: var(--font-sub2); line-height: 1.8rem;}
.moodboard p{color: var(--font-cSub2);}

.web_btn{width: 229px; height: 40px; border: none; background: var(--font-cSub1); margin-top: 30px;} 
.web_btn a{color: #fff; font-weight: bold; font-size: var(--font-sub2);} 

.bar{width: 38px; height: 2px; background: var(--font-cSub1); margin: 15px 0 20px 0;}
.skill_box{display: flex;}
.skill_box img{width: 162px; height: 22px; margin-left: 5px; margin-top: 9px;}
.explanation_txt p{margin-top: 5px;}
.works_main{width: 100%; height: 42vw; border: 1px solid #707070; margin-top: 8vw;}

.works{position: relative; width: var(--main-width);margin: 0 auto; }

.works1_top{
    height: 50.4vw; background: yellow;
    padding: 8vw 0 5vw 0; display: flex; align-items: flex-end; justify-content: space-between;
}
.works1_left{margin-left: 5vw;}
.works1_left h2{
    font-size: var(--font-large2); font-weight: 600; position: absolute; top: 8vw; left: 5vw;
    transform: rotate(90deg);
}
.works1_right{margin-right: -4vw; width: 65.9vw;}
.works1_right img{width: 100%;}

.works1_main{background: url(../img/ja);}


