*{margin: 0; padding: 0; box-sizing: border-box;}
body{font-family: 'Noto Sans KR', sans-serif;}
h3, h2{font-family: 'Noto Serif KR', sans-serif; 
	padding: 60px; text-align: center;font-size: 39px;color: #134364;}
ul{list-style: none;}
a{text-decoration: none;color: #134364;}
img{border:0;} 


:root{
    --main-width:1380px;
    --sub-width:1069px;
    --font-color:#134364;
}


header{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#logo{
    text-align: center;
	padding: 38px 0 0 0;
}
#login{
    color: #134364;
    font-size: 12px;
    width: 930px;
    height: 5px;
    margin: 0 auto;
    padding: 0 0 30px 0;
    text-align: right;  
}
#menubar{
    background: #134364;
    height: 41px;
}
#menubar a{
    color: #fff;
    font-size: 14px;
}

#menubar ul{
    width: var(--main-width);
    margin: 0 auto;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 0 225px;
}
#menubar ul li{padding-top: 7px;}
#menubar ul li:last-child{padding-top: 5px;}
#sidebar{display: none;}
#menubar_side{display: none;}
#sidebarWrap{display: none;}


.search_box{position: relative;}
.search_txt{
    background: #fff;
    width:178px; 
	height: 27px; 
	opacity: 0.55;
    padding-left: 10px;
    font-size: 12px;
    border: none;
}
.search_txt:focus{outline: 0;}
.search_box a{
    position: absolute;
    top: 6px;
    right: 10px;
}

/*----e. header----*/


footer{
    background: #134364;
    height: 715px;
}
.footer1{
    width: 1069px;margin: 0 auto; 
}
.footer_logo{margin: 132px 0 46px 0;}
#left{
    margin-top: 39px;
    color: #fff;
}
#left ul,#left li{
    display: flex;
    align-items: baseline;
}

#ADDRESS h1, #TEL h1{
    font-size: 22px;
    margin-bottom: 30px;
    margin-right: 10px;
}
#ADDRESS p, #TEL p{
    font-size: 14px;
}

#sns img{padding-right: 10px;}


.info{
    text-align: right;
    float: right;
    color: #fff;
    font-size: 11px;
    line-height: 2.2em;
    margin-top: -80px;
}
/*----e. footer----*/

@media screen and (min-width:1024px) and (max-width:1280px){
    
    h3, h2{padding: 40px;font-size: 34px;}

    #menubar{
        background: #134364;
        height: 41px;
    }
	#menubar ul{width: 1078px;padding: 0 169px;}
    #login{ width: 740px;}



    footer{height: 690px;}
    .footer1{
        width: 869px;margin: 0 auto; position: relative;
    }
    .line{width: 100%;}
    
}

@media screen and (min-width:660px) and (max-width:1023px){
    
    h3, h2{padding: 30px;font-size: 30px;}

	#menubar ul{width: 100%;   display: flex;justify-content:space-between; padding: 0 20px;}
    #menubar{display: none;}
    
    #sidebarWrap{display: block;}
    #sidebar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #134364;
        width: 100%;
        height: 41px;
        padding: 0 5%;
    }

    #sidebar_search, #sidebar_menu{
        display: inline-block;
    }
    #sidebar_search{
        width:178px; 
        height: 27px;
        position: relative;
    }
    .search_txt2{
        display: none;
        background: #fff;
        width:178px; 
        height: 27px; 
        opacity: 0.55;
        padding-left: 10px;
        font-size: 12px;
        border: none;
        position: absolute;
        top: 0px;
    }
    .search_txt2:focus{outline: 0;}
    
    #sidebar_search a{
        position: absolute;
        top: 2px;
        right: 10px;
    }


    #menubar_side{
        display: none;
        font-size: 14px;
        background: #134364;
    }
    #menubar_side li{
        padding: 10px 5%;
    }
    #menubar_side li:last-child{
        padding: 10px 5% 20px 5%;
    }
    #menubar_side a{color: #fff;}
    

    #login{width: 100%;padding: 0 5% 22px 0;}
    .search_txt{display: none;}





    footer{height: 690px;}
    .footer1{width: 560px;}
    .line{width: 100%;}
    
    #ADDRESS h1, #TEL h1{font-size: 18px;}
    #ADDRESS p, #TEL p{font-size: 13px;}
    
    .info{
        text-align: right;
        float: right;
        color: #fff;
        font-size: 8px;
        line-height: 2.2em;
        margin-top: -70px;
    }
}


@media screen and (max-width:659px){

    h3, h2{padding: 28px;font-size: 26px;}
    
    #logo img{width: 220px;}
    #logo{padding: 28px 0 0 0;}
	#menubar ul{width: 100%;   display: flex;justify-content:space-between; padding: 0 20px;}
    #menubar{display: none;}
    
    #sidebarWrap{display: block;}
    #sidebar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #134364;
        width: 100%;
        height: 41px;
        padding: 0 5%;
    }

    #sidebar_search, #sidebar_menu{
        display: inline-block;
    }
    #sidebar_search{
        width:178px; 
        height: 27px;
        position: relative;
    }
    .search_txt2{
        display: none;
        background: #fff;
        width:178px; 
        height: 27px; 
        opacity: 0.55;
        padding-left: 10px;
        font-size: 12px;
        border: none;
        position: absolute;
        top: 0px;
    }
    .search_txt2:focus{outline: 0;}
    
    #sidebar_search a{
        position: absolute;
        top: 2px;
        right: 10px;
    }


    #menubar_side{
        display: none;
        font-size: 14px;
        background: #134364;
    }
    #menubar_side li{
        padding: 10px 5%;
    }
    #menubar_side li:last-child{
        padding: 10px 5% 20px 5%;
    }
    #menubar_side a{color: #fff;}
    
    #login{width: 100%;padding: 0 5% 22px 0;}
    .search_txt{display: none;}




    footer{height: 400px;}
    .footer_logo{display: none;}
    .footer1{width: 100%;padding-left: 8%;}
    .line{display: none;}
    #left{padding-top: 39px;margin-top: 0;}
    
    #ADDRESS h1, #TEL h1{font-size: 18px;}
    #ADDRESS p, #TEL p{font-size: 13px;}
    #sns{padding-top: 15px;}
    .info{
        text-align: left;
        float: left;
        color: #fff;
        font-size: 8px;
        line-height: 2.2em;
        padding-top: 120px;
    }
}