#main_img{width: 100%; text-align: center;}
#main_img_list{
    width: 200px;
    display: flex; 
    justify-content: center;
    position: absolute;
    bottom:3%; left: 50%;
    margin-left: -100px;
}
#main_img_list li{padding-right: 15px;}
#main_img_list li:last-child{padding-right: 0px;}
#main_img_list a{
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
    display: block; 
    background: #797979;
}


/*----- e. main_img -----*/

#notice_wrap{width: var(--main-width);margin: 0 auto;}
#notice_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 130px 0 40px 0; 
}
#notice_header img{width: 30px;height: 30px;}

.black, .gray_c{display: flex;align-items: center; }
.gray_c>h5{color: var(--font-cSub2);}
.circle{
    width: 10px; height: 10px;
    border-radius: 50%;
    margin-right: 15px;
}
#red1, #red2{background: #d0111b;}
#gray{background: #a3a3a3;}
#orange{background: #f39800;}
#blue{background: #11d0c0;}

#notice_bar{width: 765px; height: 1px; background: var(--bar-color);}

#notice_box{
    display: flex;
}
.n_box{
    width: 322px;
    height: 380px;
    border: 1px solid #dfdfdf;
    margin-right: 26px;
    padding: 34px;
}
.n_box:last-child{margin-right: 0;}
.n_box h6{text-align: justify;padding-top: 20px;}
.n_box p{position: absolute; bottom: 34px; left: 34px;}

